<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap5 uap10 desktop com rescap">
  <Identity Name="Sift.ControlCenter" Publisher="__PUBLISHER__" Version="__VERSION__" ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>Sift</DisplayName>
    <PublisherDisplayName>Sift</PublisherDisplayName>
    <Description>Native Windows control center with guarded, transparent system-management workflows.</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Applications>
    <Application Id="Sift" Executable="Sift.exe" EntryPoint="Windows.FullTrustApplication"
                 uap10:RuntimeBehavior="packagedClassicApp" uap10:TrustLevel="mediumIL">
      <uap:VisualElements DisplayName="Sift"
                          Description="Native Windows control center"
                          BackgroundColor="#1A1816"
                          Square44x44Logo="Assets\Square44x44Logo.png"
                          Square150x150Logo="Assets\Square150x150Logo.png">
        <uap:DefaultTile ShortName="Sift" />
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension Category="windows.startupTask"
                        Executable="MonitorHost\Sift.MonitorHost.exe"
                        EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask TaskId="SiftMonitor" Enabled="false" DisplayName="Sift monitor" />
        </uap5:Extension>
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="9A17F31D-BA1C-49F6-8A33-136FA9481E25" />
        </desktop:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="MonitorHost\Sift.MonitorHost.exe"
                           Arguments="----AppNotificationActivated:"
                           DisplayName="Sift monitor">
              <com:Class Id="9A17F31D-BA1C-49F6-8A33-136FA9481E25" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
